@{
    ProjectMobileCVO.DAL.Cursist test = new ProjectMobileCVO.DAL.Cursist();
    ProjectMobileCVO.BLL.Cursist curs = test.SelectOne(1);
}
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
    @curs.Id
       @curs.Voornaam
    </div>
</body>
</html>
